<div class="space"></div>

<h1>Welcome to Das Boot.</h1>

<h3>Currently in Kville:</h3>

<% if @current_shifts %>
	<ul>
		<% @current_shifts.each do |shift| %>
			<li>
				<% u = User.find(shift.user_id) %>
				<strong>
					<%= link_to u.first_name+" "+u.last_name, user_path(u) %>:</strong>
				<% times =  shift.start_time.strftime("%l:%M%P")+"-"+shift.end_time.strftime("%l:%M%P") %>
				<%= link_to times, schedule_path(shift.schedule_id) %>
			</li>
		<% end %>
	</ul>
<% else %>
	Nobody.
<% end %>

<h3>Up next:</h3>

<% if @next_shifts %>
	<ul>
		<% @next_shifts.each do |shift| %>
			<li>
				<% u = User.find(shift.user_id) %>
				<strong>
					<%= link_to u.first_name+" "+u.last_name, user_path(u) %>:</strong>
				<% times =  shift.start_time.strftime("%l:%M%P")+"-"+shift.end_time.strftime("%l:%M%P") %>
				<%= link_to times, schedule_path(shift.schedule_id) %>
			</li>
		<% end %>
	</ul>
<% else %>
	Nobody.
<% end %>

<h3>Sub requests:</h3>

<% if @shifts_with_sub_req %>
	<ul>
		<% @shifts_with_sub_req.each do |shift| %>
			<li>
				<% times =  shift.start_time.strftime("%A %-m/%-d %l:%M%P")+"-"+shift.end_time.strftime("%l:%M%P") %>
				<%= link_to times, schedule_path(shift.schedule_id) %>
			</li>
		<% end %>
	</ul>
<% end %>
