<div class="space"></div>

<div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1 card">
	<div class="title-bar">
		<h1 class="small-caps">My Schedule
		</h1>
	</div>
	<% @user.shifts.sort_by{|s| s.start_time }.each do |shift| %>
		<% u = User.find(shift.user_id) %>
		<div class="content-bar list-group">
			<div class="row pad row-highlighter">
				<% lg_cols = current_user.role == 'admin' ? '5' : '6' %>
				<div class="col-lg-<%= lg_cols%> col-sm-12">		
					<% if shift.night_shift? %>
						<% if shift.weekend_night? %>
							<%= shift.start_time.yesterday.strftime('%A night (%-m/%-d)') %>*
						<% else %>
							<%= shift.start_time.strftime('%A night (%-m/%-d)') %>
						<% end %>
					<% else %>
						<%= shift.start_time.strftime('%A %-m/%-d') %>
					<% end %>
				</div>
				<div class="col-lg-<%= lg_cols%> col-sm-12">		
					<%= shift.start_time.strftime('%l:%M%P') %> - <%= shift.end_time.strftime('%l:%M%P') %>
				</div>
				<% if current_user.role == 'admin' %>
					<div class="col-lg-1 col-xs-2" style="text-align:center;">
						<%= link_to edit_shift_path(shift), title: "Edit Shift" do %>
							<i class="fa fa-edit"></i>
						<% end %>
					</div>
					<div class="col-lg-1 col-xs-2" style="text-align:center;">
						<%= button_to shift_path(shift), title: "Delete Shift", class: 'btn-delete-action', method: :delete do %>
							<i class="fa fa-times"></i>
						<% end %>	
					</div>
				<% end %>
			</div>
		</div>	
	<% end %>
	<div class="title-bar list-group card-footer">
		<p>
			*Note: this is a night shift, so it actually starts the next day. For example Friday night (1/12) starting at 2:30am means although it's a Friday night shift, you'll actually be starting at 2:30am on Saturday 1/13.
		</p>
	</div>
</div>

<div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1 card">
	<div class="title-bar">
		<h1 class="small-caps">My Availability
		<span class="pull-right">
			<%= link_to new_availability_path, title: "Add Availability", class: 'btn-new-action' do %>
				<i class="fa fa-plus"></i>
			<% end %>
		</span>
		</h1>
	</div>
	<% @user.availabilities.sort_by{|a| a.start_time }.each do |av| %>
		<div class="content-bar list-group">
			<div class="row pad row-highlighter">
				<div class="col-lg-5 col-sm-12">		
					<%= av.start_time.strftime('%A %-m/%-d') %>
				</div>
				<div class="col-lg-5 col-sm-12">		
					<%= av.start_time.strftime('%l:%M%P') %> - <%= av.end_time.strftime('%l:%M%P') %>
				</div>
				<% if current_user.role == 'admin' || current_user == @user %>
					<div class="col-lg-1 col-xs-2" style="text-align:center;">
						<%= link_to edit_availability_path(av), title: "Edit Availability" do %>
							<i class="fa fa-edit"></i>
						<% end %>
					</div>
					<div class="col-lg-1 col-xs-2" style="text-align:center;">
						<%= button_to availability_path(av), title: "Delete Availability", class: 'btn-delete-action', method: :delete do %>
							<i class="fa fa-times"></i>
						<% end %>	
					</div>
				<% end %>
			</div>
		</div>	
	<% end %>
	<div class="title-bar list-group card-footer">
		<p>
			*Note: These should be the times you are NOT available.
		</p>
	</div>
</div>

<div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1 card">
	<div class="title-bar">
		<h1 class="small-caps">Edit Profile</h1>
	</div>
	<div class="content-bar content-bar-padded">
		<%= bootstrap_form_for(@user) do |f| %>
			<%= f.text_field :first_name %>
			<%= f.text_field :last_name %>
			<%= f.email_field :email %>
			<% if current_user.role == 'admin' %>
				<%= f.text_field :role %>
			<% end %>
			<%= f.submit "Update account", class: "btn btn-primary btn-raised" %>
		<% end %>
	</div>
</div>

