<div class="space"></div>

<h1>My Schedule</h1>

<table class="table">
    <tr>
		<th>Date</th>
		<th>Start Time</th>
		<th>End Time</th>
		<th></th>
		<th></th>
	</tr>
	<% @user.shifts.sort_by{|s| s.start_time }.each do |shift| %>
		<tr class="<%= 'night-shift' if shift.night_shift? %>">
			<%= render 'schedules/shift_table', shift: shift %>
		<% if current_user.role == "admin" %>
			<td>
				<%= link_to "Edit", edit_shift_path(shift) %>
			</td>
			<td>
				<%= button_to 'x', shift_path(shift), method: :delete, :class=>"mdl-button mdl-js-button mdl-button--fab mdl-button--colored" %>
			</td>
		<% end %>
		</tr>
	<% end %>
</table>

<br> 

<h1>My Availabilities</h1>

These are the times I'm <strong>not</strong> available.

<table class="table">
    <tr>
		<th>Date</th>
		<th>Times</th>
		<th></th>
		<th></th>
	</tr>
	<% @user.availabilities.sort_by{|a| a.start_time }.each do |av| %>
		<%= render "/availabilities/av_table", av: av %>
	<% end %>
</table>

<%= link_to 'Add new availability', new_availability_path %>

<br> 

<%= form_for(@user) do |f| %>
	<%= f.text_field :first_name %>
	<%= f.text_field :last_name %>
	<%= f.email_field :email %>
	<% if current_user.role == 'admin' %>
		<%= f.text_field :role %>
	<% end %>
	<%= f.submit "Update account", class: "btn-submit" %>
<% end %>