<div class="space"></div>

<h1><%= @user.first_name %> <%= @user.last_name %>'s Schedule</h1>

<table class="table">
    <tr>
		<th>Date</th>
		<th>Start Time</th>
		<th>End Time</th>
		<th></th>
		<th></th>
	</tr>
	<% @user.shifts.sort_by{|s| s.start_time }.each do |shift| %>
		<%= render "/schedules/shift_table", shift: shift %>
	<% end %>
</table>

<br>

<h1><%= @user.first_name %> <%= @user.last_name %>'s Availability</h1>

These are the times <%= @user.first_name %> is <strong>not</strong> available.

<table class="table">
    <tr>
		<th>Date</th>
		<th>Times</th>
		<th></th>
		<th></th>
	</tr>
	<% @user.availabilities.sort_by{|a| [a.day_date, a.times] }.each do |av| %>
		<%= render "/availabilities/av_table", av: av %>
	<% end %>
</table>
