<td>
	<% if shift.night_shift? %>
		<% if shift.weekend_night? %>
			<%= shift.start_time.yesterday.strftime('%A night (%-m/%-d)') %>*
		<% else %>
			<%= shift.start_time.strftime('%A night (%-m/%-d)') %>
		<% end %>
	<% else %>
		<%= shift.start_time.strftime('%A %-m/%-d') %>
	<% end %>
</td>
<td>
	<%= shift.start_time.strftime('%l:%M%P') %>
</td>
<td>
	<%= shift.end_time.strftime('%l:%M%P') %>
</td>