<tr class="<%= 'night-shift' if shift.night_shift? %>">
	<td>
		<% if shift.night_shift? %>
			<% if shift.weekend_night? %>
				<%= shift.start_time.yesterday.strftime('%A night (%-m/%-d)') %>*
			<% else %>
				<%= shift.start_time.strftime('%A night (%-m/%-d)') %>
			<% end %>
		<% else %>
			<%= shift.start_time.strftime('%A %-m/%-d') %>
		<% end %>
	</td>
	<td>
		<%= shift.start_time.strftime('%l:%M%P') %>
	</td>
	<td>
		<%= shift.end_time.strftime('%l:%M%P') %>
	</td>
	<td>
		<% u = User.find(shift.user_id) %>
		<%= link_to u.first_name, user_path(u.id) %>
	</td>
<% if current_user.role == "admin" %>
	<td>
		<%= link_to "Edit", edit_shift_path(shift) %>
	</td>
	<td>
		<%= button_to 'x', shift_path(shift), method: :delete %>
	</td>
<% end %>
</tr>