<div class="space"></div>

<div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0 card">
	<div class="title-bar">
		<h1 class="small-caps">Schedules
		<span class="pull-right">
			<% if current_user.role == 'admin' %>
			<span class="pull-right">
				<%= link_to new_schedule_path, title: "New Schedule", class: 'btn-new-action' do %>
					<i class="fa fa-plus"></i>
				<% end %>
			</span>
		<% end %>
		</span></h1>
	</div>
	<% @schedules.sort_by{|s| s.start_date }.reverse.each do |sched| %>
		<div class="content-bar list-group">
			<div class="row pad">
				<% lg_cols = current_user.role == 'admin' ? '5' : '6' %>
				<div class="col-lg-<%= lg_cols%> col-sm-12">		
					<strong>
						<%= link_to sched.schedule_name, schedule_path(sched) %>
					</strong>
				</div>
				<div class="col-lg-<%= lg_cols%> col-sm-12">		
					<%= sched.start_date.strftime('%A %-m/%-d') %> - <%= sched.end_date.strftime('%A %-m/%-d') %>
				</div>
				<% if current_user.role == 'admin' %>
					<div class="col-lg-1 col-sm-offset-0 col-xs-1 col-xs-offset-4">
						<%= link_to edit_schedule_path(sched), title: "Edit Schedule" do %>
							<i class="fa fa-edit"></i>
						<% end %>
					</div>
					<div class="col-lg-1 col-xs-1">
						<%= button_to schedule_path(sched), title: "Delete Schedule", class: 'btn-delete-action', method: :delete do %>
							<i class="fa fa-times"></i>
						<% end %>	
					</div>
				<% end %>
			</div>
		</div>	
	<% end %>
</div>
