<div class="space"></div>

<h1><%= @schedule.schedule_name %></h1>

<h3><%= @schedule.start_date.strftime('%A %-m/%-d') %> - <%= @schedule.end_date.strftime('%A %-m/%-d') %></h3>

<table class="table">
    <tr>
    	<th>Day</th>
		<th>Start Time</th>
		<th>End Time</th>
		<th>Member</th>
		<th>Sub Requested?<th>
		<% if current_user.role == "admin" %>
			<th></th>
			<th></th>
		<% end %>
	</tr>
	<% @schedule.shifts.sort_by{|s| s.start_time }.each do |shift| %>
		<% u = User.find(shift.user_id) %>
		<tr class="<%= 'night-shift' if shift.night_shift? %> <%= 'my-shift' if u == current_user %>">
			<%= render 'schedules/shift_table', shift: shift %>
			<td>
				<%= link_to u.first_name, user_path(u) %>
			</td>
			<td>
				<% if shift.has_sub_req? %>
					<%= link_to "Accept Sub Request", :controller => "shifts", :action => "accept_sub", :params => {"shift_id" => shift, "schedule_id" => @schedule} %>
				<% else %>
					<%= link_to "Request Sub", :controller => "shifts", :action => "request_sub", :params => {"shift_id" => shift, "schedule_id" => @schedule} if u == current_user%>
				<% end %>
			</td>
		<% if current_user.role == "admin" %>
			<td>
				<%= link_to "Edit", edit_shift_path(shift) %> &nbsp;
			</td>
			<td>
				<%= button_to 'x', shift_path(shift), method: :delete %>
			</td>
		<% end %>
		</tr>
	<% end %>
</table>

*Note: this is the night shift, so it actually starts the next day. For example Friday night (1/12) starting at 2:30am means although it's a Friday night shift, you'll actually be starting at 2:30am on Saturday 1/13.

<br>

<%= link_to "Add shift", schedule_shifts_new_path(@schedule) if current_user.role == 'admin' %>

<div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1 card">
	<div class="title-bar">
		<h1 class="small-caps"><%= @schedule.schedule_name %>
		<% if current_user.role == 'admin' %>
			<span class="pull-right">
				<%= link_to schedule_shifts_new_path(@schedule), title: "New Shift", class: 'btn-new-action' do %>
					<i class="fa fa-plus"></i>
				<% end %>
			</span>
		<% end %>
		</h1>
	</div>
	<% @schedule.shifts.sort_by{|s| s.start_time }.each do |shift| %>
		<% u = User.find(shift.user_id) %>
		<div class="content-bar list-group">
			<div class="row pad">
				<% lg_cols = current_user.role == 'admin' ? '3' : '4' %>
				<div class="col-lg-<%= lg_cols%> col-sm-12">		
					<strong>
						<%= link_to u.first_name, user_path(u) %>
					</strong>
				</div>
				<div class="col-lg-4 col-sm-12">		
					<% if shift.night_shift? %>
						<% if shift.weekend_night? %>
							<%= shift.start_time.yesterday.strftime('%A night (%-m/%-d)') %>*
						<% else %>
							<%= shift.start_time.strftime('%A night (%-m/%-d)') %>
						<% end %>
					<% else %>
						<%= shift.start_time.strftime('%A %-m/%-d') %>
					<% end %>
				</div>
				<div class="col-lg-<%= lg_cols%> col-sm-12">		
					<%= shift.start_time.strftime('%l:%M%P') %> - <%= shift.end_time.strftime('%l:%M%P') %>
				</div>
				<% if current_user.role == 'admin' %>
					<div class="col-lg-1 col-xs-2" style="text-align:center;">
						<%= link_to edit_shift_path(shift), title: "Edit Shift" do %>
							<i class="fa fa-edit"></i>
						<% end %>
					</div>
					<div class="col-lg-1 col-xs-2" style="text-align:center;">
						<%= button_to shift_path(shift), title: "Delete Shift", class: 'btn-delete-action', method: :delete do %>
							<i class="fa fa-times"></i>
						<% end %>	
					</div>
				<% end %>
			</div>
		</div>	
	<% end %>
	<div class="title-bar list-group card-footer">
		<p>
			*Note: this is the night shift, so it actually starts the next day. For example Friday night (1/12) starting at 2:30am means although it's a Friday night shift, you'll actually be starting at 2:30am on Saturday 1/13.
		</p>
	</div>
</div>