<div class="space"></div>

<% lg_card_cols = current_user.role == 'admin' ? '8' : '6' %>
<% lg_card_offset = current_user.role == 'admin' ? '2' : '3' %>
<div class="col-lg-<%= lg_card_cols %> col-lg-offset-<%= lg_card_offset %> col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0 card">
	<div class="title-bar">
		<h1 class="small-caps"><%= @schedule.schedule_name %>
		<% if current_user.role == 'admin' %>
			<span class="pull-right">
				<%= link_to schedule_shifts_new_path(@schedule), title: "New Shift", class: 'btn-new-action' do %>
					<i class="fa fa-plus"></i>
				<% end %>
			</span>
		<% end %>
		</h1>
	</div>
	<% @schedule.shifts.sort_by{|s| s.start_time }.each do |shift| %>
		<% u = User.find(shift.user_id) %>
		<div class="content-bar list-group">
			<div class="row pad row-highlighter">
				<% lg_cols = current_user.role == 'admin' ? '3' : '4' %>
				<div class="col-lg-2 col-sm-12">		
					<strong>
						<%= link_to u.first_name, user_path(u) %>
					</strong>
				</div>
				<div class="col-lg-<%= lg_cols %> col-sm-12">		
					<% if shift.night_shift? %>
						<% if shift.weekend_night? %>
							<%= shift.start_time.yesterday.strftime('%A night (%-m/%-d)') %>*
						<% else %>
							<%= shift.start_time.strftime('%A night (%-m/%-d)') %>
						<% end %>
					<% else %>
						<%= shift.start_time.strftime('%A %-m/%-d') %>
					<% end %>
				</div>
				<div class="col-lg-3 col-sm-12">		
					<%= shift.start_time.strftime('%l:%M%P') %>-<%= shift.end_time.strftime('%l:%M%P') %>
				</div>
				<% lg_cols_name = current_user.role == 'admin' ? '2' : '3' %>
				<div class="col-lg-<%= lg_cols_name %> col-md-4 col-xs-12">
					<% if shift.has_sub_req? %>
						<span class="look emph">
							<i class="fa fa-exclamation-circle look" title="Accept Sub"></i>
							<%= link_to :controller => "shifts", :action => "accept_sub", :params => {"shift_id" => shift, "schedule_id" => @schedule} do %>
								Accept sub
							<% end %>
						</span>
					<% else %>
						<% if u == current_user %>
							<%= link_to :controller => "shifts", :action => "request_sub", :params => {"shift_id" => shift, "schedule_id" => @schedule} do %>
								<span class="emph">
									Request sub
								</span>
							<% end %>
						<% end %>
					<% end %>
				</div>
				<% if current_user.role == 'admin' %>
					<div class="col-lg-1 col-sm-offset-0 col-xs-1 col-xs-offset-4" style="text-align:center;">
						<%= link_to edit_shift_path(shift), title: "Edit Shift" do %>
							<i class="fa fa-edit"></i>
						<% end %>
					</div>
					<div class="col-lg-1 col-xs-1" style="text-align:center;">
						<%= button_to shift_path(shift), title: "Delete Shift", class: 'btn-delete-action', method: :delete do %>
							<i class="fa fa-times"></i>
						<% end %>	
					</div>
				<% end %>
			</div>
		</div>	
	<% end %>
	<div class="title-bar list-group card-footer">
		<p>
			*Note: this is a night shift, so it actually starts the next day. For example Friday night (1/12) starting at 2:30am means although it's a Friday night shift, you'll actually be starting at 2:30am on Saturday 1/13.
		</p>
	</div>
</div>