<div class="space"></div>

<div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1 card no-center">
	<div class="title-bar">
		<h1 class="small-caps">New Shift for <%= @schedule.schedule_name %></h1>
	</div>
	<div class="content-bar list-group">
		<% user_names = @users.map{|u| u.first_name} %>

		<%= bootstrap_form_for(@shift) do |f| %>
			<%= f.hidden_field :schedule_id, :value => @schedule.id %>
			<div class="row pad">
				<div class="col-md-4 col-sm-6 col-xs-12">
					<%= f.collection_select(:user_id, User.all, :id, :first_name, :prompt => true, :required=> true) %>
				</div>
			</div>
			<div class="row pad">
				<div class="col-md-4 col-sm-6 col-xs-12">
					<%= f.text_field :start_time, as: :datepicker, label: 'Start date', id: 'from', required: true %>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12">
					<%= f.text_field :end_time, as: :datepicker, label: 'End date', id: 'to', required: true %>
				</div>
			</div>
			<div class="row pad">
				<div class="col-md-4 col-sm-6 col-xs-12">
					<%= f.datetime_select :start_time, :discard_year => true, :discard_month => true, :ampm => true, :default => { :minute => 00 }, :minute_step => 15, inline: true %>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12">
					<%= f.datetime_select :end_time, :discard_year => true, :discard_month => true, :ampm => true, :default => { :minute => 00 }, :minute_step => 15 %>
				</div>
			</div>

			<div class="row pad">
				<div class="col-md-4 col-sm-6 col-xs-12">
					<%= f.check_box :night_shift %>
				</div>
			</div>
			<br>
			<div class="row pad">
				<div class="col-md-4 col-sm-6 col-xs-12">
					<%= f.submit "Create shift", class: "btn btn-primary btn-raised" %>
				</div>
			</div>
		<% end %>
	</div>	
</div>