<%= stylesheet_link_tag "static" %>

<div class="space"></div>

<div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1 card">
	<div class="title-bar centered">
		<h1 class="small-caps">2013</h1>
	</div>
	<div class="content-bar content-bar-padded content-about">
		<p>
	        Das Boot was founded in Fall of 2012 by three freshmen - Chris Dieckhaus, Connor Tinen, and Andrew Method. That December, the trio rounded up 9 of their friends to fill out the tent. However, trouble struck before the season began, with five members pulling out just a week before tenting was to begin. Scrabbling, the group managed to fill the vacancies, and ended up with a tent compromising heavily of the Duke Catholic Center (75% of the tent was Catholic).
	      </p>
	      <p>
	        The season got off to a quick start. No premade tents were allowed for the Black Tenting period, but Chief Engineering Officer Connor Tinen and fellow engineers Andrew Method and Rob Smith constructed a solid tent from plywood and tarp. It was due to the original tent's shoe-shaped structure that a name arose - Das Boot.
	      </p>
	      <p>
	        In addition to being heavily Catholic, Das Boot was relatively inexperienced - half of the team were freshmen, most of whom were rushing in some form or the other. However, a Black Tenting week uninterupted by grace led to a tight-knit tent community. The weather was for the most part a non-factor, save for the night of the Georgia Tech game in which Dieckhaus and Tinen completely disassembled the tent due to strong wind and heavy rain. In what was a record tenting season of 60 Black Tents, Das Boot managed to grab Tent #28.
	      </p>
	      <p>The tenting season came to an end on February 13, 2013, when <%= link_to "Duke defeated UNC 73-68", "https://www.youtube.com/watch?v=KdN42xivYEQ", :target=> "_blank", :id=>"pagelink"%>.</p>
	</div>
</div>

<div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1 card">
	<div class="title-bar centered">
		<h1 class="small-caps">2014</h1>
	</div>
	<div class="content-bar content-bar-padded content-about">
		<p>
	    	Though one member was lost due to graduation, Captain Chris Dieckhaus still had 50% of Das Boot to fill coming into the second tenting season. Das Boot signed two freshmen, as well as three experienced seniors and a sophomore from another tent. Hopes were high going into the long season.
	    </p>
	    <p>
	    	However, Mother Nature had other plans. January and February were uncharacteristically cold, and approximately half of the two week Black Tenting period was lost due to grace. In fact, Duke cancelled classes on five occasions due to snow. While this certainly made the stress of tenting easier, the weather took a big toll on group cohesiveness, as the tent never really had to struggle through Black Tenting together like in 2013.
	    </p>
	    <p>
	    	Nevertheless, 2014 was a very successful season. Building on their experience from the previous year, Das Boot knew what to expect and were better prepared for the intricacies of tenting. A 12 x 16 foot base of plywood was laid down to combat the muddy Kville conditions, and the tent was strategically placed along the Kville sidewalk. Even the Betsey Ross and Das Boot flags made a return, withstanding snow and rain to fly proudly above the tent.
	    </p>
	    <p>
	    	Due to the long season and tough weather, competition was not nearly as fierce as the year before, allowing Das Boot to snag Tent #6. And most importantly, on March 8, 2014, <%= link_to "Duke defeated UNC 93-81", "https://www.youtube.com/watch?v=kI3EE10Drxc", :target=> "_blank", :id=>"pagelink"%> as Das Boot watched from the front row.
	    </p>
	</div>
</div>

<div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1 card">
	<div class="title-bar centered">
		<h1 class="small-caps">2015</h1>
	</div>
	<div class="content-bar content-bar-padded content-about">
		<p>
        	Das Boot began the 2015 tenting season with renewed enthusiasm. With a handful of members returning from abroad, the team was ready to get back inside Cameron. For the first time in tent history, Das Boot fielded a roster with no freshman, as three seniors and two juniors were added to the already veteran roster.
      	</p>
		<p>
			Instead of going with a commercial tent like nearly all of Kville, Chief Engineering Officer Connor Tinen decided to design a tent from scratch. The skeleton of the structure was based around a commercial canopy, and the tent covered a 10 by 20 foot area right at the front of Kville. Das Boot 3.0 had no shortage of amenities, featuring a couch, interior lighting, insulation, and a white picket fence and mailbox.
		</p>
		<p>
			2015 was a breakout season for Das Boot. With the departure of the Tentagon, a void was left at the top of Kville; a void quickly filled by Das Boot. Das Boot rapidly ascended to tenting stardom and became the talk of Kville. Boosting a strong social media presence on both <%= link_to "Twitter", "https://twitter.com/dasbootkville", :target=> "_blank", :id=>"pagelink"%> and <%= link_to "Instagram", "https://instagram.com/dasbootkville", :target=> "_blank", :id=>"pagelink"%>, Das Boot's reach was far and wide. Indeed, Das Boot's notoriety grew so great ESPN's Stan Verrett and Neil Everett <%= link_to "filmed a live SportsCenter segment from inside Das Boot", "https://twitter.com/SportsCenter/status/568195511230046208", :target=> "_blank", :id=>"pagelink"%> before the Carolina game.
		</p>
		<p>
			Though it was a step backwards from last year, Das Boot still cracked the top 10, snagging Tent #8. In the end, the hard work paid off, as <%= link_to "Duke won a 92-90 overtime thriller", "https://www.youtube.com/watch?v=qNp7_-in2es", :target=> "_blank", :id=>"pagelink"%> on February 18, 2015.
		</p>
		<p>
			As it turned out, the instant classic Duke overtime victory was a foreshadowing of greater things to come. On April 6, 2015, seven members of Das Boot cheered on in Indianapolis as Duke captured their 5th National Championship, <%= link_to "defeating Wisconsin 68-63", "https://www.youtube.com/watch?v=kOu6bCDiZm4", :target=> "_blank", :id=>"pagelink"%>.
		</p>
	</div>
</div>