<%= stylesheet_link_tag "members" %>

<div class="space"></div>

<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
	<div class="card">
		<div class="title-bar ">
			<%= image_tag 'members/chris.jpg' %>
		</div>
		<div class="content-bar content-bar-padded">
			<h4>
		        <strong>Chris Dieckhaus</strong>
		    </h4>
		    <p>
		    	Captain
		    </p>
		    <p>
		    	Senior | St. Louis, MO
		    </p>
		</div>
	</div>
</div>

<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
	<div class="card">
		<div class="title-bar">
			<%= image_tag 'members/connor.jpg' %>
		</div>
		<div class="content-bar content-bar-padded">
			<h4>
		        <strong>Connor Tinen</strong>
		    </h4>
		    <p>
		    	Chief Engineering Officer
		    </p>
		    <p>
		    	Senior | St. Louis, MO
		    </p>
		</div>
	</div>
</div>

<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
	<div class="card">
		<div class="title-bar ">
			<%= image_tag 'members/andrew.jpg' %>
		</div>
		<div class="content-bar content-bar-padded">
			<h4>
		        <strong>Andrew Method</strong>
		    </h4>
		    <p>
		    	Secretary of the Interior
		    </p>
		    <p>
		    	Senior | Park City, UT
		    </p>
		</div>
	</div>
</div>

<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
	<div class="card">
		<div class="title-bar">
			<%= image_tag 'members/abe.jpg' %>
		</div>
		<div class="content-bar content-bar-padded">
			<h4>
		        <strong>Abrianna Robles</strong>
		    </h4>
		    <p>
		    	Senior | San Francisco, CA
		    </p>
		</div>
	</div>
</div>

<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
	<div class="card">
		<div class="title-bar ">
			<%= image_tag 'members/lauren.jpg' %>
		</div>
		<div class="content-bar content-bar-padded">
			<h4>
		        <strong>Lauren Haley</strong>
		    </h4>
		    <p>
		    	Senior | Fort Worth, TX
		    </p>
		</div>
	</div>
</div>

<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
	<div class="card">
		<div class="title-bar ">
			<%= image_tag 'members/mary.jpg' %>
		</div>
		<div class="content-bar content-bar-padded">
			<h4>
		        <strong>Mary Skapek</strong>
		    </h4>
		    <p>
		    	Senior | Chicago, IL
		    </p>
		</div>
	</div>
</div>

<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
	<div class="card">
		<div class="title-bar ">
			<%= image_tag 'members/julia.jpg' %>
		</div>
		<div class="content-bar content-bar-padded">
			<h4>
		        <strong>Julia Bellantoni</strong>
		    </h4>
		    <p>
		    	Senior | Baltimore, MD
		    </p>
		</div>
	</div>
</div>

<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
	<div class="card">
		<div class="title-bar ">
			<%= image_tag 'members/lizzy.jpg' %>
		</div>
		<div class="content-bar content-bar-padded">
			<h4>
		        <strong>Lizzy Knippler</strong>
		    </h4>
		    <p>
		    	Senior | Fairfax, VA
		    </p>
		</div>
	</div>
</div>

<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
	<div class="card">
		<div class="title-bar ">
			<%= image_tag 'members/edowd.jpg' %>
		</div>
		<div class="content-bar content-bar-padded">
			<h4>
		        <strong>Elizabeth Dowd</strong>
		    </h4>
		    <p>
		    	Junior | San Francisco, CA
		    </p>
		</div>
	</div>
</div>

<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
	<div class="card">
		<div class="title-bar ">
			<%= image_tag 'members/keith.jpg' %>
		</div>
		<div class="content-bar content-bar-padded">
			<h4>
		        <strong>Keith Sobb</strong>
		    </h4>
		    <p>
		    	VP of Engineering | Junior | Durham, NC
		    </p>
		</div>
	</div>
</div>

<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
	<div class="card">
		<div class="title-bar ">
			<%= image_tag 'members/kr.jpg' %>
		</div>
		<div class="content-bar content-bar-padded">
			<h4>
		        <strong>Krista Rose Niemeier</strong>
		    </h4>
		    <p>
		    	Junior | Ho-Ho-Kus, NJ
		    </p>
		</div>
	</div>
</div>

<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
	<div class="card">
		<div class="title-bar ">
			<%= image_tag 'members/gerardo.jpg' %>
		</div>
		<div class="content-bar content-bar-padded">
			<h4>
		        <strong>Gerardo Parraga</strong>
		    </h4>
		    <p>
		    	Sophomore | Ft. Lauderdale, FL
		    </p>
		</div>
	</div>
</div>

<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
	<div class="card">
		<div class="title-bar ">
			<%= image_tag 'members/luisa.jpg' %>
		</div>
		<div class="content-bar content-bar-padded">
			<h4>
		        <strong>Luisa Frasson-Nori</strong>
		    </h4>
		    <p>
		    	Sophomore | Houston, TX
		    </p>
		</div>
	</div>
</div>

<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
	<div class="card">
		<div class="title-bar ">
			<%= image_tag 'members/carine.jpg' %>
		</div>
		<div class="content-bar content-bar-padded">
			<h4>
		        <strong>Carine Torres</strong>
		    </h4>
		    <p>
		    	Sophomore | Greenwich, CT
		    </p>
		</div>
	</div>
</div>

<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
	<div class="card">
		<div class="title-bar ">
			<%= image_tag 'members/colette.jpg' %>
		</div>
		<div class="content-bar content-bar-padded">
			<h4>
		        <strong>Colette Torres</strong>
		    </h4>
		    <p>
		    	Sophomore | Greenwich, CT
		    </p>
		</div>
	</div>
</div>

<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
	<div class="card">
		<div class="title-bar ">
			<%= image_tag 'members/audrey.jpg' %>
		</div>
		<div class="content-bar content-bar-padded">
			<h4>
		        <strong>Audrey Ellis</strong>
		    </h4>
		    <p>
		    	Captain, Das Boot 2 | Freshman | Spartanburg, SC
		    </p>
		</div>
	</div>
</div>

<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
	<div class="card">
		<div class="title-bar ">
			<%= image_tag 'members/anna.jpg' %>
		</div>
		<div class="content-bar content-bar-padded">
			<h4>
		        <strong>Anna Lee</strong>
		    </h4>
		    <p>
		    	Freshman | Kansas City, MO
		    </p>
		</div>
	</div>
</div>

<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
	<div class="card">
		<div class="title-bar ">
			<%= image_tag 'members/annie.jpg' %>
		</div>
		<div class="content-bar content-bar-padded">
			<h4>
		        <strong>Annie Jannick</strong>
		    </h4>
		    <p>
		    	Freshman | Dallas, TX
		    </p>
		</div>
	</div>
</div>

<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
	<div class="card">
		<div class="title-bar ">
			<%= image_tag 'members/bella.jpg' %>
		</div>
		<div class="content-bar content-bar-padded">
			<h4>
		        <strong>Bella Arbelaez</strong>
		    </h4>
		    <p>
		    	Freshman | Sao Paolo, Brazil
		    </p>
		</div>
	</div>
</div>

<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
	<div class="card">
		<div class="title-bar ">
			<%= image_tag 'members/dylan.jpg' %>
		</div>
		<div class="content-bar content-bar-padded">
			<h4>
		        <strong>Dylan Tamayo</strong>
		    </h4>
		    <p>
		    	Freshman | Long Island, NY
		    </p>
		</div>
	</div>
</div>

<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
	<div class="card">
		<div class="title-bar ">
			<%= image_tag 'members/george.jpg' %>
		</div>
		<div class="content-bar content-bar-padded">
			<h4>
		        <strong>George Gallagher</strong>
		    </h4>
		    <p>
		    	Freshman | Houston, TX
		    </p>
		</div>
	</div>
</div>

<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
	<div class="card">
		<div class="title-bar ">
			<%= image_tag 'members/morawa.jpg' %>
		</div>
		<div class="content-bar content-bar-padded">
			<h4>
		        <strong>Katherine Morawa</strong>
		    </h4>
		    <p>
		    	Freshman | Atlanta, GA
		    </p>
		</div>
	</div>
</div>

<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
	<div class="card">
		<div class="title-bar ">
			<%= image_tag 'members/khaley.jpg' %>
		</div>
		<div class="content-bar content-bar-padded">
			<h4>
		        <strong>Katherine Haley</strong>
		    </h4>
		    <p>
		    	Freshman | Ft. Worth, TX
		    </p>
		</div>
	</div>
</div>

<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
	<div class="card">
		<div class="title-bar ">
			<%= image_tag 'members/laura.jpg' %>
		</div>
		<div class="content-bar content-bar-padded">
			<h4>
		        <strong>Laura Naslund</strong>
		    </h4>
		    <p>
		    	Freshman | Raleigh, NC
		    </p>
		</div>
	</div>
</div>