<%= stylesheet_link_tag "members" %>

<div class="space"></div>

<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
	<div class="card">
		<div class="title-bar ">
			<%= image_tag 'members/chris.jpg' %>
		</div>
		<div class="content-bar content-bar-padded">
			<h4>
		        <strong>Chris Dieckhaus</strong>
		    </h4>
		    <p>
		    	Captain
		    </p>
		    <p>
		    	Senior | St. Louis, MO
		    </p>
		</div>
	</div>
</div>

<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
	<div class="card">
		<div class="title-bar">
			<%= image_tag 'members/connor.jpg' %>
		</div>
		<div class="content-bar content-bar-padded">
			<h4>
		        <strong>Connor Tinen</strong>
		    </h4>
		    <p>
		    	Chief Engineering Officer
		    </p>
		    <p>
		    	Senior | St. Louis, MO
		    </p>
		</div>
	</div>
</div>

<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
	<div class="card">
		<div class="title-bar ">
			<%= image_tag 'members/andrew.jpg' %>
		</div>
		<div class="content-bar content-bar-padded">
			<h4>
		        <strong>Andrew Method</strong>
		    </h4>
		    <p>
		    	Secretary of the Interior
		    </p>
		    <p>
		    	Senior | Park City, UT
		    </p>
		</div>
	</div>
</div>

<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
	<div class="card">
		<div class="title-bar ">
			<%= image_tag 'members/gabby.jpg' %>
		</div>
		<div class="content-bar content-bar-padded">
			<h4>
		        <strong>Gabriela Gomez</strong>
		    </h4>
		    <p>
		    	Class of 2015 | Long Island, NY
		    </p>
		</div>
	</div>
</div>

<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
	<div class="card">
		<div class="title-bar">
			<%= image_tag 'members/abe.jpg' %>
		</div>
		<div class="content-bar content-bar-padded">
			<h4>
		        <strong>Abrianna Robles</strong>
		    </h4>
		    <p>
		    	Senior | San Francisco, CA
		    </p>
		</div>
	</div>
</div>

<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
	<div class="card">
		<div class="title-bar ">
			<%= image_tag 'members/td.jpg' %>
		</div>
		<div class="content-bar content-bar-padded">
			<h4>
		        <strong>TuanDat Nguyen</strong>
		    </h4>
		    <p>
		    	Junior | Seattle, WA
		    </p>
		</div>
	</div>
</div>

<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
	<div class="card">
		<div class="title-bar ">
			<%= image_tag 'members/edowd.jpg' %>
		</div>
		<div class="content-bar content-bar-padded">
			<h4>
		        <strong>Elizabeth Dowd</strong>
		    </h4>
		    <p>
		    	Junior | San Francisco, CA
		    </p>
		</div>
	</div>
</div>

<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
	<div class="card">
		<div class="title-bar ">
			<%= image_tag 'members/paige.jpg' %>
		</div>
		<div class="content-bar content-bar-padded">
			<h4>
		        <strong>Paige Mihalsky</strong>
		    </h4>
		    <p>
		    	Class of 2015 | Oklahoma City, OK
		    </p>
		</div>
	</div>
</div>

<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
	<div class="card">
		<div class="title-bar ">
			<%= image_tag 'members/molly.jpg' %>
		</div>
		<div class="content-bar content-bar-padded">
			<h4>
		        <strong>Molly Culhane</strong>
		    </h4>
		    <p>
		    	Class of 2015 | Knoxville, TN
		    </p>
		</div>
	</div>
</div>

<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
	<div class="card">
		<div class="title-bar ">
			<%= image_tag 'members/ss.jpg' %>
		</div>
		<div class="content-bar content-bar-padded">
			<h4>
		        <strong>Sungmin Sohn</strong>
		    </h4>
		    <p>
		    	Class of 2015 | McLean, VA
		    </p>
		</div>
	</div>
</div>

<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
	<div class="card">
		<div class="title-bar ">
			<%= image_tag 'members/lauren.jpg' %>
		</div>
		<div class="content-bar content-bar-padded">
			<h4>
		        <strong>Lauren Haley</strong>
		    </h4>
		    <p>
		    	Senior | Fort Worth, TX
		    </p>
		</div>
	</div>
</div>

<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
	<div class="card">
		<div class="title-bar ">
			<%= image_tag 'members/mary.jpg' %>
		</div>
		<div class="content-bar content-bar-padded">
			<h4>
		        <strong>Mary Skapek</strong>
		    </h4>
		    <p>
		    	Senior | Chicago, IL
		    </p>
		</div>
	</div>
</div>