<tr>
	<td>
		<%= av.start_time.strftime('%A %-m/%-d') %>
	</td>
	<td>
		<%= av.start_time.strftime('%l:%M%P') %> - <%= av.end_time.strftime('%l:%M%P') %>
	</td>
	<td>
		<%= av.times %>
	</td>
	<td>
		<%= link_to 'Edit', edit_availability_path(av) if current_user.role == 'admin' || current_user.id == av.user_id %>
	</td>
	<td>
		<%= button_to 'x', availability_path(av), method: :delete if current_user.role == 'admin' || current_user.id == av.user_id %>
	</td>
</tr>