<div class="space"></div>

<h1>These are your availabilities.</h1>

<% @avs.each do |av| %>
	<ul>
		<li>
			<%= av.day_date %>
		</li>
		<li>
			<%= av.times %>
		</li>
		<li>
			<%= link_to 'Edit', edit_availability_path(av) %>
		</li>
		<li>
			<%= button_to 'x', availability_path(av), method: :delete %>
		</li>
	</ul>
<% end %>
<br>
<%= link_to 'Add new availability', new_availability_path %>