<div class="space"></div>

<div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0 card">
	<div class="title-bar">
		<h1 class="small-caps">Availabilities
		<span class="pull-right">
			<%= link_to new_availability_path, title: "Add Availability", class: 'btn-new-action' do %>
				<i class="fa fa-plus"></i>
			<% end %>
		</span>
		</h1>
	</div>
	<% @avs.sort_by{|a| a.start_time }.each do |av| %>
		<% u = User.find(av.user_id) %>
	<div class="content-bar list-group">
		<div class="row pad row-highlighter">
			<div class="col-lg-3 col-sm-12">		
			<strong>
				<%= link_to u.first_name, user_path(u) %>
			</strong>
		</div>
		<div class="col-lg-4 col-sm-12">		
			<%= av.start_time.strftime('%A %-m/%-d') %>
		</div>
		<div class="col-lg-3 col-sm-12">		
			<%= av.start_time.strftime('%l:%M%P') %> - <%= av.end_time.strftime('%l:%M%P') %>
		</div>
		<% if current_user.role == 'admin' || current_user == u %>
			<div class="col-lg-1 col-sm-offset-0 col-xs-1 col-xs-offset-4" style="text-align:center;">
				<%= link_to edit_availability_path(av), title: "Edit Availability" do %>
					<i class="fa fa-edit"></i>
				<% end %>
			</div>
			<div class="col-lg-1 col-xs-1" style="text-align:center;">
				<%= button_to availability_path(av), title: "Delete Availability", class: 'btn-delete-action', method: :delete do %>
					<i class="fa fa-times"></i>
				<% end %>	
			</div>
		<% end %>
		</div>
	</div>	
	<% end %>
	<div class="title-bar list-group card-footer">
		<p>
			*Note: These are all the times people are NOT available.
		</p>
	</div>
</div>





