<div class="space"></div>

<h1>All Availabilities</h1>

These are the times people are <strong>not</strong> available.

<table class="table">
    <tr>
    	<th>Member</th>
		<th>Date</th>
		<th>Times</th>
		<th></th>
		<th></th>
	</tr>
<% @avs.sort_by{|a| a.start_time }.each do |av| %>
	<% u = User.find(av.user_id) %>
	<tr>
		<td>
			<%= link_to u.first_name, user_path(u) %>
		</td>
		<td>
			<%= av.start_time.strftime('%A %-m/%-d') %>
		</td>
		<td>
			<%= av.start_time.strftime('%l:%M%P') %> - <%= av.end_time.strftime('%l:%M%P') %>
		</td>
		<td>
			<%= link_to 'Edit', edit_availability_path(av) if current_user.role == 'admin' || current_user == u %>
		</td>
		<td>
			<%= button_to 'x', availability_path(av), method: :delete if current_user.role == 'admin' || current_user == u %>
		</td>
	</tr>
<% end %>
</table>





