<div class="space"></div>

<h1>New Availability</h1>

<%= form_for(@av) do |f| %>
  <%= f.label :start_time %>
  <%= f.datetime_select :start_time, :discard_year => true , :ampm => true, :default => { :minute => 00 }, :minute_step => 15 %>
  <br>
  <%= f.label :end_time %>
  <%= f.datetime_select :end_time, :discard_year => true , :ampm => true, :default => { :minute => 00 }, :minute_step => 15 %>
  <br>
  <%= f.submit "Add Availability", class: "btn-submit" %>
<% end %>