<div class="space"></div>

<h1>All Availabilities</h1>

<table class="table">
    <tr>
    	<th>Member</th>
		<th>Date</th>
		<th>Times</th>
		<th></th>
		<th></th>
	</tr>
<% @avs.sort_by{|a| [a.day_date, a.times] }.each do |av| %>
	<tr>
		<td>
			<%= User.find(av.user_id).first_name %>
		</td>
		<td>
			<%= av.day_date.strftime('%A %-m/%-d') %>
		</td>
		<td>
			<%= av.times %>
		</td>
		<td>
			<%= link_to 'Edit', edit_availability_path(av) %>
		</td>
		<td>
			<%= button_to 'x', availability_path(av), method: :delete %>
		</td>
	</tr>
<% end %>
</table>